<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="/static/asserts/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/4.5.2/css/bootstrap.min.css}" rel="stylesheet">
    <link href="/static/asserts/css/signin.css" th:href="@{/asserts/css/signin.css}" rel="stylesheet">
    <title>PREVIEW</title>
</head>
<body>
<div class="d-flex w-100 h-100 flex-column">
    <div class="d-flex mb-4 w-25 align-self-end">
        <!-- 全选图片按钮 -->
        <input id="checkAll_btn" type="button" value="全选"/>
        <input id="check_all" type="checkbox" hidden="hidden"/>
        <!-- 确认跳转到处理页面 -->
        <form id="process_from" action="/process" method="post">
            <input name="imgs" hidden="hidden"/>
            <input name="_method" value="put" hidden="hidden"/>
            <input id="process_btn" type="button" value="处理"/>
        </form>
    </div>
    <!-- 将request域中的图片路径取出展示 -->
    <div class="d-flex mb-4 w-25 justify-content-between align-items-center" th:each="path : ${pathList}">
        <!-- 将路径数据暂存在img标签的data中 -->
        <img class="d-flex" th:src="@{{path}(path=${path})}" height="175" th:attr="data-path=${path}">
        <input type='checkbox' class='check_item d-flex'/>
    </div>
</div>

</body>
<script src="/static/asserts/js/jquery-3.2.1.slim.min.js" th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
<script src="/static/asserts/js/bootstrap.min.js" th:src="@{/webjars/bootstrap/4.5.2/js/bootstrap.min.js}"></script>
<script th:inline="javascript">

    /* 全选功能 */
    let $checkAll = $("#check_all");
    $("#checkAll_btn").click(function () {
        $checkAll.prop("checked", !$checkAll.prop("checked"));
        // 对于原生 dom，attr 获取自定义的值，prop 获取 dom 原生属性的值
        $(".check_item").prop("checked", $checkAll.prop("checked"));
    });
    // check_item 关联 check_all
    $(document).on("click", ".check_item", function() {
        let flag = $(".check_item:checked").length == $(".check_item").length;
        $checkAll.prop("checked", flag);
    });

    /* 确认待处理图片 */
    $("#process_btn").click(function () {

        let imgsList = new Array();
        $.each($(".check_item:checked"), function () {
            let src = $(this).parent("div").find("img:first").data("path");
            imgsList.push(src);
        });

        if ($(".check_item:checked").length < 1) {
            alert("未选择图片！")
            return;
        }
        if (confirm("共处理『"+$(".check_item:checked").length+"』张图片！")) {
            // 发送表单请求 转发待处理页面
            let $processFrom = $('#process_from');
            let $imgs_input = $processFrom.find("input:eq(0)");
            $imgs_input.attr("value", imgsList);
            $processFrom.submit();
        }
    });



</script>
</html>