<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="/static/asserts/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/4.5.2/css/bootstrap.min.css}" rel="stylesheet">
    <link href="/static/asserts/css/signin.css" th:href="@{/asserts/css/signin.css}" rel="stylesheet">
    <title>PREVIEW</title>
</head>
<body>
<div class="d-flex w-100 h-100 flex-column justify-content-between">

    <div id="imgs" class="d-flex justify-content-around align-items-center" style="height: 200px;">
        <div th:each="path : ${pathList}">

            <div class="flex-item">
                <img class="mb-4" th:src="@{{path}(path=${path})}" height="185">
            </div>


        </div>

    </div>

</div>

</body>
<script src="/static/asserts/js/jquery-3.2.1.slim.min.js" th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
<script src="/static/asserts/js/bootstrap.min.js" th:src="@{/webjars/bootstrap/4.5.2/js/bootstrap.min.js}"></script>
<script inline="javascript">

    showimgs();

    function showimgs() {
        // var arr = [[${pathList}]];
        // $.each(arr, function(i){
        //     alert(i);
        // });

        // result = '<div class="delete">delete</div><div class="result"><img class="subPic" src="'+this.result+'" alt="'+this.fileName+'"/></div>';
        // var div = document.createElement('div');
        //
        // div.innerHTML =result;
        // div['className'] = 'float';
        // document.getElementsByTagName('body')[0].appendChild(div);  　　//插入dom树
        //
        // var checkbox_item = $("<th></th>").append("<input type='checkbox' class='check_item' hidden='true'/>");
    }

</script>
</html>