<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="/static/asserts/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/4.5.2/css/bootstrap.min.css}" rel="stylesheet">
    <link href="/static/asserts/css/signin.css" th:href="@{/asserts/css/signin.css}" rel="stylesheet">
    <title>PROCESS</title>
</head>
<style>
    .w-10 {
        width: 10%!important;
    }
    .w-15 {
        width: 15%!important;
    }
    .w-30 {
        width: 30%!important;
    }
    .w-60 {
        width: 60%!important;
    }
    .h-10 {
        height: 10%!important;
    }
</style>
<body>
<input type="text" id="firstEnter" hidden="hidden" th:attr="data-firstEnter=${firstEnter}">
<input type="text" id="allDisposed" hidden="hidden">
<div class="d-flex w-100 h-100">
<!--    <div class="d-flex mb-4 w-25 flex-column justify-content-start">-->
<!--        <div class="d-flex align-items-center" th:each="path : ${processList}">-->
<!--            <span class="d-flex" th:text="${path}" th:attr="data-path=${path}"></span>-->
<!--            <input type='checkbox' class='check_item d-flex'/>-->
<!--        </div>-->
<!--    </div>-->

    <!--  左 图片列表  -->
    <div class="d-flex mb-4 w-10 justify-content-start">
        <table border="1px">
            <tr><th><span>待处理图片列表</span></th></tr>
            <tr th:each="img : ${processList}">
                <th>
                    <span class="imgSpan" th:text="${img}" th:attr="data-imgName=${img}"></span>
                </th>
                <th class="hide">
                    <input type='checkbox' class='check_item'/>
                </th>
            </tr>
        </table>
    </div>
    <!--  中 处理预览  -->
    <div id="carouselExampleIndicators" class="d-flex mb-4 w-60 carousel slide" data-ride="carousel"
         data-interval="false">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1" class="active"></li>
        </ol>
        <div class="carousel-inner">
            <div id="origin_item" class="carousel-item">
                <img src="" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>处理前</h5>
                    <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                </div>
            </div>
            <div id="disposed_item" class="carousel-item active">
                <img src="/img/undisposed.png" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>处理后</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <!--  右 功能选择  -->
    <div class="d-flex mb-4 w-30 flex-column align-self-start">
        <div class="d-flex">
            <!-- 查看前后变化按钮 -->
            <input id="cycle" type="button" value="查看变化"/>
            <!-- 全选图片按钮 -->
            <input id="checkAll_btn" type="button" value="全选"/>
            <input id="check_all" type="checkbox" hidden="hidden"/>
            <!-- 动态处理 -->
            <form id="process_from" action="/process" method="post">
                <input name="imgs" hidden="hidden"/>
                <input id="process_btn" type="button" value="处理"/>
            </form>
            <!-- 打包下载 -->
            <input id="download_btn" type="button" value="下载"/>
            <!-- 跳转到下一个处理页面 -->
            <form id="next_process_from" action="/process" method="post">
                <input name="imgs" hidden="hidden"/>
                <input name="_method" value="put" hidden="hidden"/>
                <input id="next_process_btn" type="button" value="进一步处理"/>
            </form>
        </div>

        <div class="d-flex">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">功能选项</th>
                    <td># 参数 #</td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="method" id="radios1" value="GaussianFilter">
                            <label class="form-check-label" for="radios1">
                                高斯滤波 GaussianFilter
                            </label>
                        </div>
                    </th>
                    <td>
                        <select class="custom-select" onChange="selectOnChangeFunc(this)" required>  // 若radio被选中js添加is-invalid类型 required
                            <option selected disabled value="">kernelSize</option>
                            <option value="3">3</option>
                            <option value="5">5</option>
                            <option value="7">7</option>
                            <option value="">..自定义..</option>  // 弹出其他选框
                        </select>
                        <input type="text" id="GaussianFilter" class="cls_input" value="" hidden="hidden">
                        <!--                    <div class="invalid-feedback">-->
                        <!--                        Please select a valid param.-->
                        <!--                    </div>-->
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="method" id="radios2" value="normalizedBoxFilter">
                            <label class="form-check-label" for="radios2">
                                中值滤波 normalized
                            </label>
                        </div>
                    </th>
                    <td>
                        <select class="custom-select" onChange="selectOnChangeFunc(this)" required>
                            <option selected disabled value="">kernelSize</option>
                            <option value="3">3</option>
                            <option value="5">5</option>
                            <option value="7">7</option>
                            <option value="">..自定义..</option>  // 弹出其他选框
                        </select>
                        <input type="text" id="normalizedBoxFilter" class="cls_input" value="" hidden="hidden">
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="method" id="radios3" value="medianBlurFilter">
                            <label class="form-check-label" for="radios3">
                                均值滤波 medianBlur
                            </label>
                        </div>
                    </th>
                    <td>
                        <select class="custom-select" onChange="selectOnChangeFunc(this)" required>
                            <option selected disabled value="">kernelSize</option>
                            <option value="3">3</option>
                            <option value="5">5</option>
                            <option value="7">7</option>
                            <option value="">..自定义..</option>  // 弹出其他选框
                        </select>
                        <input type="text" id="medianBlurFilter" class="cls_input" value="" hidden="hidden">
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="method" id="radios4" value="medianBlurFilter">
                            <label class="form-check-label" for="radios4">
                                旋转 rotate
                            </label>
                        </div>
                    </th>
                    <td>
                        <select class="custom-select" onChange="selectOnChangeFunc(this)" required>
                            <option selected disabled value="">angle</option>
                            <option value="90">90度</option>
                            <option value="180">180度</option>
                            <option value="270">270度</option>
                            <option value="">..自定义..</option>
                        </select>
                        <input type="text" id="rotate" class="cls_input" value="" hidden="hidden">
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="method" id="radios5" value="medianBlurFilter">
                            <label class="form-check-label" for="radios5">
                                缩放 resize
                            </label>
                        </div>
                    </th>
                    <td>
                        <select class="custom-select" onChange="selectOnChangeFunc(this)" required>
                            <option selected disabled value="">zoom</option>
                            <option value="25">25度</option>
                            <option value="50">50度</option>
                            <option value="150">150度</option>
                            <option value="200">200度</option>
                            <option value="">..自定义..</option>
                        </select>
                        <input type="text" id="resize" class="cls_input" value="" hidden="hidden">
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="method" id="radios6" value="medianBlurFilter">
                            <label class="form-check-label" for="radios6">
                                裁切 trimming
                            </label>
                        </div>
                    </th>
                    <td>
                        <select class="custom-select" onChange="selectOnChangeFunc(this)" required>
                            <option selected disabled value="">x1: y1: x2: y2</option>
                            <option value="">格式:0-0-500-240(例)</option>
                        </select>
                        <input type="text" id="trimming" class="cls_input" value="" hidden="hidden">
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="method" id="radios7" value="medianBlurFilter">
                            <label class="form-check-label" for="radios7">
                                对比度 contrast
                            </label>
                        </div>
                    </th>
                    <td>
                        <select class="custom-select" onChange="selectOnChangeFunc(this)" required>
                            <option selected disabled value="">level</option>
                            <option value="-3">-3</option>
                            <option value="-2">-2</option>
                            <option value="-1">-1</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="">..自定义..</option>
                        </select>
                        <input type="text" id="contrast" class="cls_input" value="" hidden="hidden">
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="method" id="radios8" value="medianBlurFilter">
                            <label class="form-check-label" for="radios8">
                                曝光度 exposure
                            </label>
                        </div>
                    </th>
                    <td>
                        <select class="custom-select" onChange="selectOnChangeFunc(this)" required>
                            <option selected disabled value="">level</option>
                            <option value="-3">-3</option>
                            <option value="-2">-2</option>
                            <option value="-1">-1</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="">..自定义..</option>
                        </select>
                        <input type="text" id="exposure" class="cls_input" value="" hidden="hidden">
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="method" id="radios9" value="medianBlurFilter">
                            <label class="form-check-label" for="radios9">
                                图像二值化 binaryzation
                            </label>
                        </div>
                    </th>
                    <td>
                        <select class="custom-select" onChange="selectOnChangeFunc(this)" required>
                            <option selected disabled value="">threshold</option>
                            <option value="">..自定义..</option>
                        </select>
                        <input type="text" id="binaryzation" class="cls_input" value="" hidden="hidden">
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="method" id="radios10" value="medianBlurFilter">
                            <label class="form-check-label" for="radios10">
                                色彩抖动 colorJittering
                            </label>
                        </div>
                    </th>
                    <td>
                        <select class="custom-select" onChange="selectOnChangeFunc(this)" required>
                            <option selected disabled value="">param</option>
                            <option value="">..自定义..</option>
                        </select>
                        <input type="text" id="colorJittering" class="cls_input" value="" hidden="hidden">
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="method" id="radios11" value="medianBlurFilter">
                            <label class="form-check-label" for="radios11">
                                腐蚀与膨胀 Eroding and Dilating
                            </label>
                        </div>
                    </th>
                    <td>
                        <select class="custom-select" onChange="selectOnChangeFunc(this)" required>
                            <option selected disabled value="">param</option>
                            <option value="">..自定义..</option>
                        </select>
                        <input type="text" id="ErodingDilating" class="cls_input" value="" hidden="hidden">
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

</body>
<script src="/static/asserts/js/jquery-3.2.1.slim.min.js" th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
<script src="/static/asserts/js/bootstrap.min.js" th:src="@{/webjars/bootstrap/4.5.2/js/bootstrap.min.js}"></script>
<script th:inline="javascript">

    /* 控制下拉列表的自定义操作 */
    function selectOnChangeFunc(thisSpan) {
        let idInput = $(thisSpan).parents("td").find("input:first")[0];
        let idSelect = thisSpan;
        idInput.value = idSelect.options[idSelect.selectedIndex].value;
        if (idSelect.selectedIndex != idSelect.childElementCount-1)
            idInput.setAttribute("hidden", "hidden");
        else if (idInput.hasAttribute("hidden"))
            idInput.removeAttribute("hidden");
    }

    /* 点击图片名显示图片缩略图 */
    $(".imgSpan").click(function () {
        // alert($(this).text());
        let src = "";
        if ($("#firstEnter").attr("data-firstEnter") == "true") {
            src = '/users/' + $(this).text();
        } else {
            src = '/out/' + $(this).text();
        }
        $("#origin_item").find("img:first").attr("src", src);
        if ($(this)[0].hasAttribute("disposed")) {
            // 如果已处理则展示第二张图片，并将src链接到该图片索引
            $(".carousel").carousel(1);
            let dSrc = '/out/' + $(this).text();
            $("#disposed_item").find("img:last").attr("src", dSrc);
        } else {
            // 如果没有被处理则展示第一张图片
            $(".carousel").carousel(0);
        }


        // else {
        //     // 发送Ajax异步请求 预览处理效果
        //     $.ajax({
        //         type: 'post',
        //         url: "/pre",
        //         data: {
        //             "img" : $(this).text(),
        //             "method" : ,
        //             "param" :
        //         },
        //         success: function (res) {
        //             alert(res);
        //             // 向所有的 imgSpan 加入已处理属性
        //             $(".imgSpan").setAttribute("zip_disposed", "ture");
        //         },
        //         error: function (e) {
        //         }
        //     })
        // }
    })

    /* 查看前后变化按钮 */
    $("#cycle").click(function () {
        $(".carousel").carousel('next');
    })

    /* 全选功能 */
    let $checkAll = $("#check_all");
    $("#checkAll_btn").click(function () {
        $checkAll.prop("checked", !$checkAll.prop("checked"));
        // 对于原生 dom，attr 获取自定义的值，prop 获取 dom 原生属性的值
        $(".check_item").prop("checked", $checkAll.prop("checked"));
    });
    // check_item 关联 check_all
    $(document).on("click", ".check_item", function() {
        let flag = $(".check_item:checked").length == $(".check_item").length;
        $checkAll.prop("checked", flag);
    });

    /* 处理图片 */
    $("#process_btn").click(function () {

        let imgsList = [];
        $.each($(".imgSpan"), function () {
            let src = $(this).attr("data-imgName");  // 不知道为什么 .data("imgName") 取不了
            // 这里需要判断 从/users还是/out中取
            if ($("#firstEnter").attr("data-firstEnter") == "true") {
                imgsList.push("/users/"+src);
            } else {
                imgsList.push("/out/"+src);
            }
        });

        // 选中的处理方法名
        let method_checked = $(".form-check-input[name='method']:checked").val();
        if ($(".check_item").length < 1) {
            alert("未选择图片！");
            return;
        } else if (method_checked == null) {
            alert("未选处理功能");
            return;
        } else if ($("#"+method_checked).val() == null) {
            alert("参数错误");
            return;
        }
        if (confirm("共处理『"+$(".check_item").length+"』张图片！")) {

            // 发送Ajax异步请求 处理图片
            $.ajax({
                type: 'post',
                url: "/process",
                data: {
                    "imgs" : imgsList,  // 要求该文件名带上路径前缀
                    "method" : method_checked,
                    "param" : $("#"+method_checked).val()  // 不用额外选择属性或类型
                },
                traditional:true,
                success: function (res) {
                    alert(res);
                    // 向所有的 imgSpan 加入已处理属性
                    $(".imgSpan").attr("disposed", true);
                    $("#allDisposed").text("true");
                },
                error: function (e) {
                    alert("处理失败："+e);
                }
            })
        }
    });

    /* 确认进一步处理图片 */
    $("#next_process_btn").click(function () {

        if ($("#allDisposed").text() != "true") {
            alert("未全部进行处理，不能进入下一步");
            return ;
        }

        let imgsList = new Array();
        $.each($(".imgSpan"), function () {
            let src = $(this).attr("data-imgName");
            // 配合 /process-PUT 控制器
            imgsList.push("/out/"+src);
        });

        if ($(".check_item").length < 1) {
            alert("未选择图片！")
            return;
        }
        if (confirm("继续处理『"+$(".check_item").length+"』张图片")) {
            // 发送表单请求 转发待处理页面
            let $processFrom = $('#next_process_from');
            let $imgs_input = $processFrom.find("input:eq(0)");
            $imgs_input.attr("value", imgsList);
            $processFrom.submit();
        }
    });

</script>
</html>